<style>
    .nav-bar {
        padding: 20px;
    }
</style>

<div class="nav-links">
    <a class="nav-bar" href="/">Home</a>
    <a class="nav-bar" href="/about/">About</a>
    <a class="nav-bar" href="/blog/">Blog</a>
</div>
